<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/Home/static/styles/clubs.css" />
  <link rel="stylesheet" href="/Home/static/styles/XInsider.css" />

</head>
<body>

  <!-- Loading Overlay -->
  <div id="loading-overlay">
    <div class="spinner"></div>
  </div>

  <!-- Navbar -->
  <div id="navbar-container"></div>

  <!-- Main content -->
  <main class="dashboard" id="main-content">
   <h1>Football Dashboard</h1>
   <h2>Clubs</h2>
  </main>

  <!-- Footer -->
  <div id="footer-container"></div>

  <script src="/node_modules/d3/dist/d3.min.js"></script>

  <script src="/Home/static/components/navbarSearch.js"></script>
  <script src="/Home/static/components/navbar.js"></script>
  <script src="/Home/static/components/footer.js"></script>
  <script src="/Home/static/components/loader.js"></script>
</body>
</html>
