<nav class="navbar">
    <a href="/Home/templates/home.html" class="logo">
      <img src="/ressources/XInsider2.png" alt="Football Dashboard Logo" style="height: 60px;" />
    </a>
    <ul class="nav-links">
      <li><a href="players.html">Players</a></li>
      <li><a href="clubs.html">Clubs</a></li>
      <li><a href="games.html">Games</a></li>
    </ul>
  
    <!-- Search bar -->
    <div class="navbar-search">
      <input type="text" id="search-bar" placeholder="Search players, teams..."/>
      <div id="search-results" class="search-results" style="position: absolute; background: white; z-index: 1000;"></div>
    </div>
</nav>